.tittle{
    text-align: center;
}
.btn-action:hover {
    background-color: rgb(255, 0, 140);
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 20rem;
}

#carouselExample {
    display: flex;
    justify-content: center;
    height: 20%;
    object-fit: cover;
    
    padding-left: 10%;
    padding-right: 10%

}

img {
    height: 18rem;
    width: 30;
    /*Propiedad para ajustar contenido*/
    object-fit: cover;
}
h4{
    text-align: center; 
    padding-top: 5rem;
}

