/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
font-family: "Cookie", cursive;
font-weight: 400;
font-style: normal;

}


body{
    background-color:rgb(21, 2, 105);
}